nailujf7/n8n-backup/2026/01/0KAVEvp7rDJV9Dfa.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Set Properties": {
      "main": [
        [
          {
            "node": "Download Scenes File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Scenes File": {
      "main": [
        [
          {
            "node": "Extract JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON": {
      "main": [
        [
          {
            "node": "Parse Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scenes": {
      "main": [
        [
          {
            "node": "Split Out Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Scenes": {
      "main": [
        [
          {
            "node": "Loop Over Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Scenes": {
      "main": [
        [
          {
            "node": "Get Last Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PNG": {
      "main": [
        [
          {
            "node": "FFmpeg Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Render": {
      "main": [
        [
          {
            "node": "Append to List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to List": {
      "main": [
        [
          {
            "node": "Loop Over Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Item": {
      "main": [
        [
          {
            "node": "Concat All Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat All Videos": {
      "main": [
        [
          {
            "node": "Read Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Final Video": {
      "main": [
        [
          {
            "node": "Upload Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Video": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-25T08:48:39.551Z",
  "id": "0KAVEvp7rDJV9Dfa",
  "isArchived": true,
  "meta": null,
  "name": "5. Bilder animieren YT",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "thema_technisch",
              "type": "string",
              "value": "={{ $json.body.data.properties['Thema technisch'].formula.string }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b6a7521-ae86-451a-abdf-2af6fa86baff",
      "name": "Set Properties",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        400
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.properties['Bilder Prompt URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "25ca1f63-9209-426a-88c7-d4b2ee5cf08b",
      "name": "Download Scenes File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jrOoykKw7mJJuP2m",
          "name": "Julian Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "06dc8ba5-2397-4e06-ab68-e89bb9c2356f",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        784,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "let text = ($json.data ?? \"\").toString().trim();\nif (text.charCodeAt(0) === 0xFEFF) text = text.slice(1);\n\nconst scenes = JSON.parse(text);\n\nif (!Array.isArray(scenes)) {\n  throw new Error(\"Expected JSON array in file.\");\n}\n\nreturn [{ json: { scenes } }];"
      },
      "id": "a6e1d384-5395-4a6e-83a6-3a5f4353675a",
      "name": "Parse Scenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "id": "84c2752c-657a-496d-ab3c-e47e280b8380",
      "name": "Split Out Scenes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1232,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d188af53-3354-49d7-8ec3-885adf6792ad",
      "name": "Loop Over Scenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1456,
        400
      ]
    },
    {
      "parameters": {
        "fileSelector": "=/shared/{{ $('Set Properties').item.json.thema_technisch }}_{{ $('Split Out Scenes').item.json.scene }}.png",
        "options": {}
      },
      "id": "25ab9647-5a78-4de0-a659-9e153783e367",
      "name": "Read PNG",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "command": "=ffmpeg -y \\\n-framerate 30 -loop 1 -i /shared/{{ $('Set Properties').item.json.thema_technisch }}_{{ $('Split Out Scenes').item.json.scene }}.png \\\n-vf \"scale=3840:2160,zoompan=z='min(1+(on*0.20/(30*{{ $('Split Out Scenes').item.json.duration_seconds }})),1.20)':x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':d=1:s=1920x1080:fps=30,format=yuv420p\" \\\n-c:v libx264 -preset slow -crf 18 \\\n-frames:v {{ Math.ceil(30 * $('Split Out Scenes').item.json.duration_seconds) }} \\\n-pix_fmt yuv420p \\\n/shared/{{ $('Set Properties').item.json.thema_technisch }}_{{ $('Split Out Scenes').item.json.scene }}.mp4"
      },
      "id": "ece28443-73ad-4e81-8468-aeae53986055",
      "name": "FFmpeg Render",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1904,
        400
      ]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\nTHEMA=\"{{ $('Set Properties').item.json.thema_technisch }}\"\nSCENE=\"{{ $('Split Out Scenes').item.json.scene }}\"\nNEXT=\"/shared/${THEMA}_${SCENE}.mp4\"\nLIST=\"/shared/${THEMA}_concat.txt\"\n\n# Szene zur Concat-Liste hinzufügen (NICHT löschen!)\necho \"file '$NEXT'\" >> \"$LIST\"\n\necho \"Scene $SCENE added to list\""
      },
      "id": "324394b5-764b-4901-a801-bf02058d2466",
      "name": "Append to List",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2128,
        480
      ]
    },
    {
      "parameters": {
        "command": "=THEMA=\"{{ $('Set Properties').item.json.thema_technisch }}\"\nLIST=\"/shared/${THEMA}_concat.txt\"\nFINAL=\"/shared/${THEMA}_final.mp4\"\n\nif [ -f \"$LIST\" ]; then\n  # Finale Konkatenation MIT Re-Encoding (verhindert Wackeln)\n  ffmpeg -y -f concat -safe 0 -i \"$LIST\" \\\n    -c:v libx264 -preset fast -crf 23 \\\n    -r 30 -g 30 \\\n    -pix_fmt yuv420p \\\n    -movflags +faststart \\\n    \"$FINAL\"\n  \n  # Alle Szenen-MP4s löschen\n  cat \"$LIST\" | sed \"s/file '\\(.*\\)'/\\1/\" | while read -r file; do\n    rm -f \"$file\"\n  done\n  \n  # Liste löschen\n  rm -f \"$LIST\"\n  \n  echo \"FINAL: All scenes concatenated (re-encoded for stability)\"\nelse\n  echo \"ERROR: Concat list not found!\"\n  exit 1\nfi"
      },
      "id": "c1a4309b-fb66-4931-9760-bb880838a2e8",
      "name": "Concat All Videos",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1904,
        208
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "768a00ff-2501-4183-9f2d-e23c6fecc203",
      "name": "Get Last Item",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1680,
        208
      ]
    },
    {
      "parameters": {
        "fileSelector": "=/shared/{{ $('Set Properties').item.json.thema_technisch }}_final.mp4",
        "options": {}
      },
      "id": "fa6537f2-178b-4406-8144-41bc2366db55",
      "name": "Read Final Video",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2128,
        208
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Set Properties').item.json.thema_technisch }}_final.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ddM5BmbG9K0Y1AOp-h7L65InMVorn20J",
          "mode": "list",
          "cachedResultName": "Faceless",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ddM5BmbG9K0Y1AOp-h7L65InMVorn20J"
        },
        "options": {}
      },
      "id": "9e23c3e2-7686-4f14-98a6-c9c604cb027a",
      "name": "Upload Final Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2352,
        208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jrOoykKw7mJJuP2m",
          "name": "Julian Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Bilder Animation URL|url",
              "urlValue": "={{ $('Upload Final Video').item.json.webViewLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4dc701e-aa5f-4092-8261-2105df6509ae",
      "name": "Update Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2576,
        208
      ],
      "credentials": {
        "notionApi": {
          "id": "sn2Z88hvMScBs9q8",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm -f \"/shared/{{ $('Set Properties').item.json.thema_technisch }}_{{ $('Split Out Scenes').item.json.scene }}.png\""
      },
      "id": "e9673bd4-753c-40a3-9c95-ba8e25a55646",
      "name": "Cleanup PNG",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        112,
        704
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c1ba1e14-173f-433d-ad09-dd7228b8b889",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9f86018f-e98c-42bc-9025-91111463616d",
      "name": "Webhook",
      "webhookId": "c1ba1e14-173f-433d-ad09-dd7228b8b889"
    }
  ],
  "pinData": {
    "Cleanup PNG": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "ffmpeg version 7.0.2-static https://johnvansickle.com/ffmpeg/  Copyright (c) 2000-2024 the FFmpeg developers\n  built with gcc 8 (Debian 8.3.0-6)\n  configuration: --enable-gpl --enable-version3 --enable-static --disable-debug --disable-ffplay --disable-indev=sndio --disable-outdev=sndio --cc=gcc --enable-fontconfig --enable-frei0r --enable-gnutls --enable-gmp --enable-libgme --enable-gray --enable-libaom --enable-libfribidi --enable-libass --enable-libvmaf --enable-libfreetype --enable-libmp3lame --enable-libopencore-amrnb --enable-libopencore-amrwb --enable-libopenjpeg --enable-librubberband --enable-libsoxr --enable-libspeex --enable-libsrt --enable-libvorbis --enable-libopus --enable-libtheora --enable-libvidstab --enable-libvo-amrwbenc --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxml2 --enable-libdav1d --enable-libxvid --enable-libzvbi --enable-libzimg\n  libavutil      59.  8.100 / 59.  8.100\n  libavcodec     61.  3.100 / 61.  3.100\n  libavformat    61.  1.100 / 61.  1.100\n  libavdevice    61.  1.100 / 61.  1.100\n  libavfilter    10.  1.100 / 10.  1.100\n  libswscale      8.  1.100 /  8.  1.100\n  libswresample   5.  1.100 /  5.  1.100\n  libpostproc    58.  1.100 / 58.  1.100\nInput #0, png_pipe, from '/shared/Rauchen_1.png':\n  Duration: N/A, bitrate: N/A\n  Stream #0:0: Video: png, rgb24(pc, gbr/unknown/unknown), 768x1344, 30 fps, 30 tbr, 30 tbn\nStream mapping:\n  Stream #0:0 -> #0:0 (png (native) -> h264 (libx264))\nPress [q] to stop, [?] for help\n[libx264 @ 0x11a25140] using cpu capabilities: MMX2 SSE2Fast SSSE3 SSE4.2 AVX FMA3 BMI2 AVX2 AVX512\n[libx264 @ 0x11a25140] profile High, level 4.0, 4:2:0, 8-bit\n[libx264 @ 0x11a25140] 264 - core 164 r3191 4613ac3 - H.264/MPEG-4 AVC codec - Copyleft 2003-2024 - http://www.videolan.org/x264.html - options: cabac=1 ref=3 deblock=1:0:0 analyse=0x3:0x113 me=hex subme=7 psy=1 psy_rd=1.00:0.00 mixed_ref=1 me_range=16 chroma_me=1 trellis=1 8x8dct=1 cqm=0 deadzone=21,11 fast_pskip=1 chroma_qp_offset=-2 threads=3 lookahead_threads=1 sliced_threads=0 nr=0 decimate=1 interlaced=0 bluray_compat=0 constrained_intra=0 bframes=3 b_pyramid=2 b_adapt=1 b_bias=0 direct=1 weightb=1 open_gop=0 weightp=2 keyint=30 keyint_min=16 scenecut=0 intra_refresh=0 rc_lookahead=30 rc=crf mbtree=1 crf=23.0 qcomp=0.60 qpmin=0 qpmax=69 qpstep=4 ip_ratio=1.40 aq=1:1.00\nOutput #0, mp4, to '/shared/Rauchen_1.mp4':\n  Metadata:\n    encoder         : Lavf61.1.100\n  Stream #0:0: Video: h264 (avc1 / 0x31637661), yuv420p(progressive), 1080x1920, q=2-31, 30 fps, 15360 tbn\n      Metadata:\n        encoder         : Lavc61.3.100 libx264\n      Side data:\n        cpb: bitrate max/min/avg: 0/0/0 buffer size: 0 vbv_delay: N/A\nframe=    0 fps=0.0 q=0.0 size=       0KiB time=N/A bitrate=N/A speed=N/A    \rframe=    5 fps=5.0 q=29.0 size=       0KiB time=00:00:00.10 bitrate=   3.8kbits/s speed= 0.1x    \rframe=   21 fps= 14 q=29.0 size=       0KiB time=00:00:00.63 bitrate=   0.6kbits/s speed=0.422x    \rframe=   32 fps= 16 q=29.0 size=     256KiB time=00:00:01.00 bitrate=2097.5kbits/s speed= 0.5x    \rframe=   47 fps= 19 q=29.0 size=     256KiB time=00:00:01.50 bitrate=1398.4kbits/s speed= 0.6x    \rframe=   59 fps= 20 q=26.0 size=     512KiB time=00:00:01.90 bitrate=2207.7kbits/s speed=0.633x    \rframe=   75 fps= 21 q=29.0 size=     512KiB time=N/A bitrate=N/A speed=N/A    \rframe=   87 fps= 22 q=29.0 size=     768KiB time=N/A bitrate=N/A speed=N/A    \rframe=  108 fps= 24 q=29.0 size=     768KiB time=N/A bitrate=N/A speed=N/A    \r[mp4 @ 0x11a28440] Starting second pass: moving the moov atom to the beginning of the file\n[out#0/mp4 @ 0x11a28240] video:1038KiB audio:0KiB subtitle:0KiB other streams:0KiB global headers:0KiB muxing overhead: 0.216720%\nframe=  120 fps= 25 q=-1.0 Lsize=    1040KiB time=00:00:03.93 bitrate=2167.0kbits/s speed=0.83x    \n[libx264 @ 0x11a25140] frame I:4     Avg QP:17.53  size:126593\n[libx264 @ 0x11a25140] frame P:32    Avg QP:20.28  size:  9707\n[libx264 @ 0x11a25140] frame B:84    Avg QP:23.73  size:  2922\n[libx264 @ 0x11a25140] consecutive B-frames:  6.7%  0.0%  0.0% 93.3%\n[libx264 @ 0x11a25140] mb I  I16..4:  4.6% 76.4% 18.9%\n[libx264 @ 0x11a25140] mb P  I16..4:  0.0%  0.1%  0.0%  P16..4: 34.4%  5.3%  4.9%  0.0%  0.0%    skip:55.3%\n[libx264 @ 0x11a25140] mb B  I16..4:  0.0%  0.0%  0.0%  B16..8: 38.1%  0.1%  0.0%  direct: 0.0%  skip:61.8%  L0:49.3% L1:50.5% BI: 0.1%\n[libx264 @ 0x11a25140] 8x8 transform intra:76.4% inter:94.1%\n[libx264 @ 0x11a25140] coded y,uvDC,uvAC intra: 78.8% 91.4% 63.0% inter: 2.3% 5.1% 0.0%\n[libx264 @ 0x11a25140] i16 v,h,dc,p: 28% 15% 14% 43%\n[libx264 @ 0x11a25140] i8 v,h,dc,ddl,ddr,vr,hd,vl,hu: 21% 20% 19%  6%  5%  5%  7%  6% 10%\n[libx264 @ 0x11a25140] i4 v,h,dc,ddl,ddr,vr,hd,vl,hu: 32% 22% 12%  6%  7%  6%  7%  4%  4%\n[libx264 @ 0x11a25140] i8c dc,h,v,p: 43% 27% 21% 10%\n[libx264 @ 0x11a25140] Weighted P-Frames: Y:0.0% UV:0.0%\n[libx264 @ 0x11a25140] ref P L0: 76.9%  5.5% 11.0%  6.7%\n[libx264 @ 0x11a25140] ref B L0: 94.2%  5.2%  0.6%\n[libx264 @ 0x11a25140] ref B L1: 95.0%  5.0%\n[libx264 @ 0x11a25140] kb/s:2124.88",
          "stdout": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "nailujf7",
  "repo_path": "nailujf7/n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-25T08:48:39.555Z",
      "createdAt": "2026-01-25T08:48:39.555Z",
      "role": "workflow:owner",
      "workflowId": "0KAVEvp7rDJV9Dfa",
      "projectId": "JNbAc1n2ZHXAEEkk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-25T09:29:21.000Z",
  "versionId": "892dcb33-e2ec-460c-804c-afc644613c5a"
}