nailujf7/n8n-backup/2026/01/0WTzKqqaEVqQ2mjM.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Settings": {
      "main": [
        [
          {
            "node": "Rename file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename file": {
      "main": [
        [
          {
            "node": "Check video res",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "TS Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ass": {
      "main": [
        [
          {
            "node": "Save ass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TS Audio": {
      "main": [
        [
          {
            "node": "Create Ass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save ass": {
      "main": [
        [
          {
            "node": "FFMPEG: make new video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFMPEG: make new video": {
      "main": [
        [
          {
            "node": "Clean up files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check video res": {
      "main": [
        [
          {
            "node": "Set Video Res",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Res": {
      "main": [
        [
          {
            "node": "Extract Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean up files": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-12T21:13:29.779Z",
  "id": "0WTzKqqaEVqQ2mjM",
  "isArchived": false,
  "meta": null,
  "name": "Generate subtitles mit titel copy",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f68f8557-d3cf-43af-a1c3-8ab0f6184a19",
              "name": "path_to_folder",
              "value": "/shared",
              "type": "string"
            },
            {
              "id": "3dfafd82-b57a-42bd-a12a-71a4b9c1544c",
              "name": "whisper_url",
              "value": "http://148.230.110.33:9600",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        944
      ],
      "id": "270e2d98-98d3-4f2c-ac2c-abfda4c62f83",
      "name": "Settings"
    },
    {
      "parameters": {
        "command": "=FOLDER=\"{{ $('Settings1').item.json.path_to_folder }}\"\n\n# Remove existing input.mp4 if it exists\nif [ -f \"$FOLDER/input.mp4\" ]; then\n  rm -f \"$FOLDER/input.mp4\"\nfi\n\n# Find the newest file in that folder, ignoring files ending with \"final.mp4\"\nnew_file=$(ls -t \"$FOLDER\"/* | grep -v 'final.mp4$' | head -n 1)\n\n# Rename the chosen file to input.mp4\nmv \"$new_file\" \"$FOLDER/input.mp4\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1264,
        944
      ],
      "id": "7139133b-daa2-4c6e-b188-cdb0b293ac2c",
      "name": "Rename file",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Settings').item.json.whisper_url }}/asr?encode=true&task=transcribe&vad_filter=false&word_timestamps=true&output=json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            },
            {
              "name": "word_timestamps",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        944
      ],
      "id": "f3080b5f-407f-4937-9ef4-580dc0822478",
      "name": "TS Audio"
    },
    {
      "parameters": {
        "command": "=FOLDER=\"{{ $('Settings').item.json.path_to_folder }}\"\n\n# Extract audio using ffmpeg from input.mp4 and save as audio.mp3\nffmpeg -y -i \"$FOLDER/input.mp4\" -q:a 0 -map a \"$FOLDER/audio.mp3\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1936,
        944
      ],
      "id": "be900f54-6171-4cf3-aa36-c53cd0feae89",
      "name": "Extract Audio"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Settings').item.json.path_to_folder }}/audio.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2160,
        944
      ],
      "id": "11ea7a7b-fcdf-41c5-bfda-11670572a880",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Settings').item.json.path_to_folder }}/subtitles.ass",
        "dataPropertyName": "=data",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2832,
        944
      ],
      "id": "302932c2-0535-4ee2-a52b-0640d4483cd7",
      "name": "Save ass"
    },
    {
      "parameters": {
        "jsCode": "// ===== CONFIGURATION VARIABLES =====\nconst CONFIG = {\n  // Number of words to display on screen at a time\n  wordsToShow: 4,\n\n  // General subtitle styling\n  fontName: 'The Bold Font',\n  fontSize: 84,\n  fontColor: 'FFFFFF',\n  outlineColor: '000000',\n  backgroundColor: '000000',\n\n  // Highlight styling\n  highlightFontSize: 94,\n  highlightColor: '00FFFF',\n\n  // Text appearance\n  bold: 0,\n  italic: 0,\n  underline: 0,\n  strikeout: 0,\n\n  // Text scaling and positioning\n  scaleX: 100,\n  scaleY: 100,\n  spacing: 0,\n  angle: 0,\n\n  // Border options\n  borderStyle: 1,\n  outline: 10,\n  shadow: 1,\n\n  // SUBTITLE position (keep your subtitles as-is)\n  alignment: 5,   // 5 = center (ASS keypad center)\n  marginL: 10,\n  marginR: 10,\n  marginV: 0,\n\n  // TITLE position (TOP CENTER)\n  titleAlignment: 8, // 8 = top-center\n  titleMarginV: 80,  // distance from top (tweak: 50-140)\n\n  // Video dimensions\n  videoWidth: $('Set Video Res').first().json.width,\n  videoHeight: $('Set Video Res').first().json.height,\n\n  // Timing\n  maxGapTimeMs: 2000,\n\n  // Title\n  includeTitle: true,\n  titleText: 'Koran & Bibel Vergleich:\\\\NTHEMA',\n  titleStartSec: 0,\n  titleEndSec: 2,\n\n  // Output file name\n  outputFileName: 'sentence_aware_subtitles.ass'\n};\n\n// ===== INPUT =====\nconst response = JSON.parse($json.data);\nconst segments = response.segments;\n\n// ===== TIME FORMAT =====\nfunction formatTime(sec) {\n  const h = Math.floor(sec / 3600);\n  const m = Math.floor((sec % 3600) / 60);\n  const s = Math.floor(sec % 60);\n  const cs = Math.floor((sec - Math.floor(sec)) * 100);\n  return `${h}:${m.toString().padStart(2, '0')}:${s.toString().padStart(2, '0')}.${cs.toString().padStart(2, '0')}`;\n}\n\n// ===== ASS HEADER =====\nlet ass = `[Script Info]\nTitle: Sentence-Aware Fixed Position Subtitles\nScriptType: v4.00+\nPlayResX: ${CONFIG.videoWidth}\nPlayResY: ${CONFIG.videoHeight}\n\n[V4+ Styles]\nFormat: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, Underline, StrikeOut, ScaleX, ScaleY, Spacing, Angle, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding\nStyle: Default,${CONFIG.fontName},${CONFIG.fontSize},&H${CONFIG.fontColor},&H${CONFIG.outlineColor},&H${CONFIG.outlineColor},&H${CONFIG.backgroundColor},${CONFIG.bold},${CONFIG.italic},${CONFIG.underline},${CONFIG.strikeout},${CONFIG.scaleX},${CONFIG.scaleY},${CONFIG.spacing},${CONFIG.angle},${CONFIG.borderStyle},${CONFIG.outline},${CONFIG.shadow},${CONFIG.alignment},${CONFIG.marginL},${CONFIG.marginR},${CONFIG.marginV},1\nStyle: Title,${CONFIG.fontName},${CONFIG.fontSize},&H${CONFIG.fontColor},&H${CONFIG.outlineColor},&H${CONFIG.outlineColor},&H${CONFIG.backgroundColor},${CONFIG.bold},${CONFIG.italic},${CONFIG.underline},${CONFIG.strikeout},${CONFIG.scaleX},${CONFIG.scaleY},${CONFIG.spacing},${CONFIG.angle},${CONFIG.borderStyle},${CONFIG.outline},${CONFIG.shadow},${CONFIG.titleAlignment},${CONFIG.marginL},${CONFIG.marginR},${CONFIG.titleMarginV},1\n\n[Events]\nFormat: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text\n`;\n\n// ===== TITLE DIALOGUE =====\nif (CONFIG.includeTitle) {\n  ass += `Dialogue: 0,${formatTime(CONFIG.titleStartSec)},${formatTime(CONFIG.titleEndSec)},Title,,0,0,0,,${CONFIG.titleText}\\n`;\n}\n\n// ===== SUBTITLE BUILDING =====\nfunction createSubtitleText(wordGroup, highlightIndex) {\n  let line = '';\n  wordGroup.forEach((word, i) => {\n    if (i > 0) line += ' ';\n    if (i === highlightIndex) {\n      line += `{\\\\fs${CONFIG.highlightFontSize}\\\\c&H${CONFIG.highlightColor}&}${word.word.trim()}{\\\\r}`;\n    } else {\n      line += word.word.trim();\n    }\n  });\n  return line;\n}\n\nlet allWords = [];\nsegments.forEach(segment => {\n  allWords = allWords.concat(segment.words);\n});\n\n// Sort words by start time\nallWords.sort((a, b) => a.start - b.start);\n\n// Sentence-aware grouping\nfunction createSentenceAwareGroups(words) {\n  const groups = [];\n  let current = [];\n\n  for (let i = 0; i < words.length; i++) {\n    current.push(words[i]);\n\n    const endsWithPeriod = words[i].word.trim().endsWith('.');\n\n    if (\n      current.length >= CONFIG.wordsToShow ||\n      endsWithPeriod ||\n      i === words.length - 1\n    ) {\n      groups.push([...current]);\n      current = [];\n    }\n  }\n\n  return groups;\n}\n\nconst wordGroups = createSentenceAwareGroups(allWords);\nlet dialogueLines = [];\n\n// Build per-word dialogue entries\nfor (let i = 0; i < allWords.length; i++) {\n  const w = allWords[i];\n\n  for (let g = 0; g < wordGroups.length; g++) {\n    const idx = wordGroups[g].findIndex(x =>\n      x.start === w.start && x.end === w.end && x.word === w.word\n    );\n\n    if (idx !== -1) {\n      dialogueLines.push({\n        start: w.start,\n        end: w.end,\n        text: createSubtitleText(wordGroups[g], idx),\n        group: g\n      });\n      break;\n    }\n  }\n}\n\n// Fill small gaps inside the same group\nfor (let i = 0; i < dialogueLines.length - 1; i++) {\n  const cur = dialogueLines[i];\n  const next = dialogueLines[i + 1];\n\n  if (\n    cur.group === next.group &&\n    next.start - cur.end > 0 &&\n    next.start - cur.end <= CONFIG.maxGapTimeMs / 1000\n  ) {\n    cur.end = next.start;\n  }\n}\n\n// Write dialogues\ndialogueLines.forEach(line => {\n  ass += `Dialogue: 0,${formatTime(line.start)},${formatTime(line.end)},Default,,0,0,0,,${line.text}\\n`;\n});\n\n// ===== OUTPUT =====\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: Buffer.from(ass).toString('base64'),\n      mimeType: 'text/ass',\n      fileName: CONFIG.outputFileName\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        944
      ],
      "id": "f5f399a4-f7bc-4919-b861-e9119452b66f",
      "name": "Create Ass"
    },
    {
      "parameters": {
        "executeOnce": "={{ true }}",
        "command": "=#!/bin/bash\nset -euo pipefail\n\nFOLDER=\"/shared\"\nINPUT_VIDEO=\"$FOLDER/input.mp4\"\nOUTPUT_VIDEO=\"$FOLDER/final.mp4\"\nSUBTITLE_FILE=\"$FOLDER/subtitles.ass\"\nFONTS_DIR=\"$FOLDER/fonts\"\n\nffmpeg -y -i \"$INPUT_VIDEO\" \\\n  -vf \"subtitles=${SUBTITLE_FILE}:fontsdir=${FONTS_DIR}\" \\\n  -c:v libx264 -crf 7 -preset slow -c:a copy \"$OUTPUT_VIDEO\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3056,
        944
      ],
      "id": "e2349bc2-8c9b-422a-b720-c19df2f62d19",
      "name": "FFMPEG: make new video",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n# Configuration: the N8N variable will be replaced at runtime\nFOLDER=\"{{ $('Settings').item.json.path_to_folder }}\"\nTEMP_DIR=\"$FOLDER/temp\"\n\n# Create the temp folder if it doesn't exist\nmkdir -p \"$TEMP_DIR\"\n\n# Loop over each non-hidden item in the folder\nfor ITEM in \"$FOLDER\"/*; do\n  # Only process if ITEM is a regular file\n  if [ -f \"$ITEM\" ]; then\n    BASENAME=$(basename \"$ITEM\")\n    # Skip if the file is exactly named \"final.mp4\"\n    if [ \"$BASENAME\" = \"final.mp4\" ]; then\n      continue\n    fi\n    # Move the file to the temp folder (overwrite if needed)\n    mv -f \"$ITEM\" \"$TEMP_DIR/\"\n  fi\ndone"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3280,
        944
      ],
      "id": "99afb311-70f4-42d9-a4d9-7a85c9165143",
      "name": "Clean up files"
    },
    {
      "parameters": {
        "formTitle": "Add subtitles to video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "video",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {},
        "path": "63f0b9ec-8c64-480f-b470-8db9c55d1189"
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        592,
        944
      ],
      "id": "ac93aea9-af62-40e5-81b5-967fae092a0a",
      "name": "On form submission",
      "webhookId": "63f0b9ec-8c64-480f-b470-8db9c55d1189"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/shared/input.mp4",
        "dataPropertyName": "=video",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        816,
        944
      ],
      "id": "b69aabe3-2c54-4c33-b17f-a393eba59197",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nVIDEO=\"{{ $('Settings').item.json.path_to_folder }}/input.mp4\"\n\n\n# Get width and height\nRES=$(ffprobe -v error -select_streams v:0 -show_entries stream=width,height -of csv=p=0 \"$VIDEO\")\nWIDTH=$(echo \"$RES\" | cut -d',' -f1)\nHEIGHT=$(echo \"$RES\" | cut -d',' -f2)\n\n# Output in n8n-compatible JSON\necho \"{\\\"width\\\": $WIDTH, \\\"height\\\": $HEIGHT}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1488,
        944
      ],
      "id": "afca24c3-96f8-4e41-9d41-f75f70c568ce",
      "name": "Check video res",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout;\n\n// Try to parse the string (it's a JSON string inside a string)\nconst parsed = JSON.parse(raw);\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        944
      ],
      "id": "2a3ee7cb-188c-4ba8-9a06-a858b8098c86",
      "name": "Set Video Res"
    },
    {
      "parameters": {
        "fileSelector": "/shared/final.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3504,
        944
      ],
      "id": "53529124-d896-4ce2-bda4-c0311c4b69d6",
      "name": "Read/Write Files from Disk2"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "nailujf7",
  "repo_path": "nailujf7/n8n-backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-12T21:13:29.782Z",
      "createdAt": "2026-01-12T21:13:29.782Z",
      "role": "workflow:owner",
      "workflowId": "0WTzKqqaEVqQ2mjM",
      "projectId": "JNbAc1n2ZHXAEEkk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T21:53:13.466Z",
  "versionId": "85c819a6-9417-48c5-b948-e7cca79445c4"
}